/* -
-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |
　　　　　●▬▬▬▬▬▬▬▬▬▬▬▬▬▬๑ 　❤️๑▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●
　. 　　　　　　　　　　　　　　　　　　o 　　　　　+
　　()　　　　　　+　　 Made with ❤ by ~
　　　　　o 　　　　　Areal Alien ❥ 雷克斯　　　　.
　　.　　　　　　　　　　　.
　　　　　　　　　　　　 ●▬▬▬๑ 💙 ๑▬▬▬●　　　　　　()
　　+　　　　　　. 　　　　　　　　　　　　　　o
　o　　　　　　　　　　　 ▄▀▄　　　▄▀▄　　　　　　　+
　　　　　　+　　　　　 ▄█░░▀▀▀▀▀░░█▄　　.
　　　.　　　　　 ▄▄ 　█░░░░░░░░░░░█　▄▄
　　　　　　.　 █▄▄█　█░░▀░░┬░░▀░░█　█▄▄█　　　o
　　　　　●▬▬▬▬▬▬▬▬▬▬▬▬▬▬๑ 　❤️๑▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬● 
-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |
- */
:root {
    --bc: rgba(240, 245, 250, 1);
    --bc-dark: rgba(207, 217, 230, 1);
    --primary: #41A0FF;
    --white: #ffffff;
    --black: #000000;
    /* Colors */
    --red: #da2c4d;
    --orange: #fd7e14;
    --yellow: #f8ab37;
    --yellow-bright: #ffc107;
    --light-green: #24e33a;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    /* Gray Colors */
    --bc-gray: #ede8e4;
    --gray: #8E8E8E;
    --gray-blue: #4A4A64;
    --gray-dark: #454A50;
    --gray-darker: rgba(4, 4, 5, 1);
    /* Gradients */
    --pace: linear-gradient(90deg, rgba(232, 62, 97, 1) 0%,  rgba(241, 196, 161, 1) 100%);
    /* Sizes */
    --heading: 3.4rem;
    --heading-large: 7.5rem;
    --heading-medium: 2rem;
    --paragraph: 1.1rem;
    --button-large: 1.6rem;
    --button-small: 1rem;
    /* Fonts */
    --font-main: "Poppins";
    --font-title: 'Bodoni Moda', serif;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    color: var(--black);
    background-color: var(--bc);
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
}
main {
    min-height: 100vh;
}
footer {
    min-height: 20vh;
}
h1 {
    margin: 0;
    font-size: var(--heading);
}
/* Classes */
/* Global classes */
.space {
    min-height: 25vh;
}
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-left-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flexbox-right-start {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.flexbox-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexbox-col-left-start {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
/*
=-=-=-=-=-=-=-=-=-=-=-=-=
*       Homepage        *
=-=-=-=-=-=-=-=-=-=-=-=-=
*/
#page-home {
    display: block;
}
/* Header */
#header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.header-inner {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 45% 55%;
    grid-gap: 0;
    overflow: hidden;
}
/* Header Navbar */
#navbar {
    top: 0;
    left: 0;
    width: 46%;
    position: absolute;
    z-index: 12;
}
.navbar-inner {
    width: 90%;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.navbar-left {
    width: 100%;
}
.navbar-left h3 {
    font-size: calc(var(--paragraph) + .2rem);
    transition: color .15s ease-in-out;
    user-select: none;
    cursor: pointer;
}
.navbar-left h3:hover {
    color: var(--primary);
}
.navbar-right {
    width: 100%;
    color: var(--black);
    font-size: calc(var(--paragraph) + .2rem);
}
.navbar-right a {
    margin: 0 1.25em;
    transition: color .15s ease-in-out;
    cursor: pointer;
}
.navbar-right .last {
    margin: 0 0 0 1.25em;
}
.navbar-right a:hover {
    color: var(--primary);
}
/* Header Left */
.header-left {
    width: 100%;
    position: relative;
    z-index: 10;
}
.header-left-background {
    width: 160%;
    position: absolute;
    z-index: 5;
}
.header-title-wrapper {
    margin: 0 0 1em 0;
    width: 75%;
    z-index: 6;
}
.header-title {
    color: var(--black);
    line-height: 1.1em;
    font-size: var(--heading-large);
    font-weight: 800;
}
.header-title span {
    display: block;
    line-height: .8em;
    font-weight: 300;
}
.header-title span svg {
    fill: var(--primary);
    height: calc(var(--heading) - .25rem);
}
.header-description-wrapper {
    margin: 2em 0 0 0;
    width: 75%;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header-desc-left header-desc-right"
    ". header-desc-bottom";
    grid-column-gap: 2em;
    grid-row-gap: 0;
    z-index: 6;
}
.header-desc-left {
    height: 100%;
    grid-area: header-desc-left;
}
.header-desc-left svg {
    width: 100%;
}
.header-desc-right {
    height: 100%;
    grid-area: header-desc-right;
}
.header-desc-title {
    margin: 0;
    color: var(--black);
    font-size: calc(var(--paragraph) + .2rem);
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 500;
}
.header-desc-bottom {
    width: 100%;
    grid-area: header-desc-bottom;
}
.header-description {
    color: var(--gray);
    font-size: var(--paragraph);
    font-weight: 300;
}
/* Header Center */
.header-rings {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 8;
}
.ring1 {
    width: 15em;
    height: 15em;
    position: absolute;
    background-color: transparent;
    border: .2em solid var(--white);
    border-radius: 50%;
    opacity: .15;
}
.ring2 {
    width: 30em;
    height: 30em;
    position: absolute;
    background-color: transparent;
    border: .2em solid var(--white);
    border-radius: 50%;
    opacity: .15;
}
.ring3 {
    width: 45em;
    height: 45em;
    position: absolute;
    background-color: transparent;
    border: .2em solid var(--white);
    border-radius: 50%;
    opacity: .15;
}
.play-button-wrapper {
    position: absolute;
    z-index: 12;
}
.play-button, .play-btn-secondary {
    margin: 0;
    width: 100%;
    position: relative;
    padding: .7em .75em;
    letter-spacing: 0;
    text-align: center;
    color: var(--bc);
    font-size: calc(var(--paragraph) + 1em);
    background: var(--primary);
    border-radius: .95em;
    border: none;
    transform: scaleX(1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
    cursor: pointer;
}
.play-button {
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
}
.play-button, .play-button .play-btn-secondary {
    background-position: 0 50%;
    bottom: 0;
}
.play-button .play-btn-secondary {
    left: 0;
    width: 100%;
    position: absolute;
    filter: blur(1rem);
    opacity: .65;
    z-index: -1;
    transform: scale3d(.85, .85, 1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.play-button:focus {
    outline: none;
}
.play-button:hover {
    transform: scale3d(1.1, 1.1, 1);
    background-position: 100% 50%;
    outline: none;
    bottom: 2px;
}
.play-btn-secondary, .play-button:hover .play-btn-secondary {
    background-position: 100% 50%;
    filter: blur(1.6rem);
    bottom: -5px;
}
/* Header Right */
.header-right {
    width: 100%;
    height: 100%;
    position: relative;
}
.header-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.header-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .25);
    z-index: 2;
}
.header-image {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
}
/* Cards */
.cards {
    width: 75%;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
}
.card {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.card h3 {
    width: 85%;
    position: absolute;
    color: var(--white);
    font-size: var(--heading);
    text-align: center;
    z-index: 4;
}
.card-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.card-image-wrapper::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .35);
    z-index: 3;
}
.card-image-wrapper img {
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
    position: absolute;
    transform: scale(1, 1);
    transition: all .3s cubic-bezier(.175,.685,.32,1.275);
    object-fit: cover;
    z-index: 2;
}
.card-glow {
    top: 1.5em;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(2rem);
    transform: scale(.95, .95);
    transition: all .3s cubic-bezier(.175,.685,.32,1.275);
    opacity: .75;
}
/*
=-=-=-=-=-=-=-=-=-=-=-=-=
*       Heiskort        *
=-=-=-=-=-=-=-=-=-=-=-=-=
*/
#page-heiskort {
    display: none;
}
/* Main */
#main-heiskort {
    width: 100%;
    height: 100vh;
}
/* Page Headers */
.page-inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-gap: 5em;
    overflow: hidden;
}
.page-header {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}
.page-header h3 {
    position: absolute;
    color: var(--white);
    font-size: var(--heading);
    z-index: 4;
}
.page-header-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.page-header-image-wrapper::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .35);
    z-index: 3;
}
.page-header-image-wrapper img {
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
    position: absolute;
    transform: scale(1, 1);
    transition: all .3s cubic-bezier(.175,.685,.32,1.275);
    object-fit: cover;
    z-index: 2;
}
.page-header-glow {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(5rem);
    transform: scale(1.1, 1.1) rotate(-2deg);
    transition: all .3s cubic-bezier(.175,.685,.32,1.275);
    opacity: .75;
}
.back-to-home {
    color: var(--primary);
    cursor: pointer;
}
.buy-note {
    width: 100%;
    margin: 0;
    padding: 1.5em 2em;
    position: relative;
    border: 1px solid var(--bc-gray);
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 12px 25px 0 rgba(62, 63, 67, .05);
    z-index: 10;
}
.ticket {
    margin: 0 .4em 0 0;
    font-size: var(--heading);
}
.buy-note-item {
    margin: 0 2em;
}
.buy-note-item h3 {
    margin: 0;
}
.buy-note-item p {
    margin: 0;
    color: var(--gray);
}
.buy-note-days {
    margin: 0 2em;
}
.buy-note-days h4 {
    margin: 0;
}
.buy-note-days p {
    margin: 0;
    color: var(--gray);
}
.buy-note-price {
    margin: 0 2em 0 0;
}
.buy-note-price p {
    font-size: var(--paragraph);
}
.buy-note-button button {
    padding: 1.2em 2.6em;
    position: relative;
    color: #eaebef;
    border: none;
    background-color: #3e3f43;
    font-size: calc(var(--paragraph) - .2rem);
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    z-index: 12;
}
.buy-note-button button div {
    top: 1.4em;
    padding: 1.2em 3em;
    position: absolute;
    background-color: #3e3f43;
    transform: scale(.7, .7);
    filter: blur(1.25rem);
    cursor: pointer;
    z-index: 11;
}
.button, .btn-secondary {
    margin: 0;
    width: 100%;
    position: relative;
    padding: 1.2em 1.8em;
    letter-spacing: .1em;
    text-align: center;
    color: #eaebef;
    font-size: var(--paragraph);
    background: #3e3f43;
    background-size: 500%;
    border: none;
    transform: scaleX(1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button {
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
}
.button, .button .btn-secondary {
    background-position: 0 50%;
    bottom: 0;
}
.button .btn-secondary {
    left: 0;
    width: 100%;
    position: absolute;
    filter: blur(1rem);
    opacity: .65;
    z-index: -1;
    transform: scale3d(.85, .85, 1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button:hover {
    transform: scale3d(1.1, 1.1, 1);
    background-position: 100% 50%;
    outline: none;
    bottom: 2px;
}
.btn-secondary, .button:hover .btn-secondary {
    background-position: 100% 50%;
    filter: blur(1.6rem);
    bottom: -2px;
}
/* Page Content */
.page-content {
    height: 100%;
    padding: 5em 5em 5em 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}
.page-top {
    margin: 0 0 3em 0;
}
.page-title p {
    margin: 0;
    color: var(--gray);
    text-transform: uppercase;
    line-height: 0;
}
.page-title h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: calc(var(--heading) + 1rem);
    letter-spacing: .1em;
    font-weight: 900;
}
.page-undertitle {
    color: var(--gray);
}
.page-button-wrapper {
    margin: 0 1em 2em 0;
}
.page-button-wrapper button {
    padding: 1em 2.6em;
    border-radius: 0;
    border: 1px solid var(--bc-gray);
    background-color: rgba(255, 255, 255, .2);
    font-size: var(--paragraph);
    font-weight: 200;
    cursor: pointer;
}
#barn-button {
    transition: all .1s ease-in-out;
}
#voksen-button {
    transition: all .1s ease-in-out;
}
.page-bottom {
    width: 100%;
    display: none;
}
/* Slider */
.container {
    width: 85%;
    padding: 1.5em 2em 2em 2em;
    margin: 0 0 4em 0;
    border: 1px solid var(--bc-gray);
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 12px 25px 0 rgba(62, 63, 67, .05);
    position: relative;
}
.container .upper {
    font-size: 1em;
    color: var(--gray);
    font-weight: 500;
}
.container .upper .left {
    text-transform: uppercase;
    letter-spacing: .1em;
}
.container .upper .right .price {
    margin: 0 .1em 0 0;
    color: #3e3f43;
    font-size: calc(var(--heading) - .5rem);
    font-weight: 900;
}
.container .upper .right .price-disc {
    margin: 0 .75em 0 0;
    color: var(--gray);
    font-size: var(--paragraph);
    text-decoration: line-through;
    font-weight: 200;
    opacity: .75;
}
#disc1 {
    display: none;
}
#disc2 {
    display: none;
}
.discount {
    display: none;
    background-color: #feece7;
    color: #ff8c66;
    font-size: 0.85em;
    padding: .3em .8em .2em .8em;
    border-radius: 15px;
    margin-left: 6px;
}
.slider {
    width: 100%;
}
.slider input {
    background: linear-gradient(to right, var(--primary) 0%, #eaeefb 0%, #eaeefb 50%, #eaeefb 100%);
    border-radius: 8px;
    height: 8px;
    width: 100%;
    outline: none;
    transition: all 450ms ease-in;
    -webkit-appearance: none;
}
.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0 5px 20px 0 rgba(65, 160, 255, 0.7);
    cursor: grab;
    position: relative;
    transition: all 0.2s;
}
.slider input::-webkit-slider-thumb:hover {
}
.slider input::-webkit-slider-thumb:active {
    cursor: grabbing;
}
/*
=-=-=-=-=-=-=-=-=-=-=-=-=
*        Hytter         *
=-=-=-=-=-=-=-=-=-=-=-=-=
*/
#page-hytter {
    display: none;
}
/* Video */
.hytter-video-wrapper {
    margin: 0 0 5em 0;
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}
/* Player Button */
.player-button-wrapper {
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
.circle {
    stroke: var(--primary);
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    transition: all .5s ease-in-out;
    opacity: .3;
}
.play-but {
    display: inline-block;
    transform: scale(.5, .5);
    transition: all .5s ease;
}
.play-but .triangle {
    stroke: var(--white);
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    transform: translateY(0);
    transition: all .7s ease-in-out;
}
.play-but:hover .triangle {
    stroke-dashoffset: 0;
    stroke: var(--primary);
    animation: nudge .7s ease-in-out;
    opacity: 1;
}
.play-but:hover .circle {
    stroke-dashoffset: 0;
    opacity: 1;
}
.video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .55);
    z-index: 2;
}
.hytter-video-wrapper img {
    min-width: 100%;
    max-height: 200%;
    min-height: 100%;
    position: absolute;
    filter: hue-rotate(-5deg) saturate(1.5);
    /* filter: hue-rotate(180deg) saturate(1.5); <-- Ser egt veldig nice ut, men da må jeg endre resten også */
}
/* Player */
.player-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    transition: all .2s ease-in-out;
    opacity: 0;
    z-index: 100;
}
.player {
    width: 65%;
    z-index: 105;
}
.player video {
    width: 100%;
    z-index: 105;
}
.player-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .75);
    z-index: 102;
}
/* Main */
#main-hytter {
    width: 100%;
}
.hytter {
    width: 75%;
    height: 100%;
    overflow: hidden;
}
.hytter-navbar {
    width: 100%;
    padding: 2em 0;
}
.hytter-inner {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
    overflow: hidden;
}
/* Hytter */
#hytter-view {
    width: 100%;
    height: 100%;
}
#granbo {
    display: none;
}
#granhaug {
    display: none;
}
#granstua {
    display: none;
}
#grantoppen {
    display: none;
}
/* Hytter Image */
.hytter-header-outer {
    width: 100%;
    position: relative;
}
.hytter-header-wrapper {
    margin: 1em 0;
    width: 100%;
    position: relative;
}
#dot1 {
    left: 23.15%;
    top: 47%;
}
#himage1 {
    left: 23.15%;
    top: 47%;
}
#dot2 {
    left: 43.75%;
    top: 30%;
}
#himage2 {
    left: 43.75%;
    top: 30%;
}
#dot3 {
    left: 57.75%;
    top: 41%;
}
#himage3 {
    left: 57.75%;
    top: 41%;
}
#dot4 {
    left: 70%;
    top: 36%;
}
#himage4 {
    left: 70%;
    top: 36%;
}
.himage {
    width: 12.5em;
    height: 12.5em;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    box-shadow: 0 20px 30px -10px rgba(0, 0, 0, .9);
    pointer-events: none;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all .3s cubic-bezier(.175,.885,.32,1.075);
    z-index: 5;
}
.himage img {
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    position: absolute;
}
.hytter-dot {
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    border: 1px solid var(--white);
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}
.hytter-dot-inner {
    width: .5em;
    height: .5em;
    background-color: var(--white);
    border-radius: 50%;
}
.hytter-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .25);
    transition: all .3s cubic-bezier(.175,.885,.32,1.025);
    z-index: 2;
}
.hytter-header {
    width: 100%;
    display: block;
}
/* Hytter Left */
.hytter-left {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}
.hytter-left-image-wrapper {
    width: 100%;
    height: 30em;
    position: relative;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-gap: .25em;
}
.hytter-left-images {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .25em;
}
.hytter-left-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.hytter-left-image img {
    min-width: 100%;
    max-width: 120%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 5;
}
.hytter-left-image-wrapper-inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.hytter-left-image-wrapper-inner img {
    min-width: 100%;
    max-width: 120%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 5;
}
.hytter-left-image-wrapper-inner .hidden {
    display: none;
}
.hytter-left-glow {
    top: 5em;
    width: 85%;
    height: 100%;
    position: absolute;
    filter: blur(2.25rem);
    transform: scale(.75, .75);
    opacity: .8;
}
/* Hytter Right */
.hytter-content {
    height: 100%;
    padding: 5em 5em 5em 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}
.hytter-paragraph {
    margin: 0 0 2em 0;
}
.hytter-paragraph p {
    color: var(--gray);
    font-size: var(--paragraph);
}
.hytter-paragraph p span {
    margin: 0 1em 0 0;
}
.hytter-paragraph ul {
    padding: 0;
    list-style-type: none;
}
.hytter-paragraph ul li {
    color: var(--gray);
    font-size: var(--paragraph);
}
/* Stars */
.stars {
    margin: 0 0 1em 0;
}
.star {
    margin: 0 .25em;
}
.stars .first {
    margin: 0 .25em 0 0;
}
.filled svg {
    width: 1em;
}
.empty svg {
    width: 1.2em;
}
.stars p {
    margin: 0 0 0 1em;
    color: var(--gray-dark);
    font-size: var(--paragraph);
}
/*
=-=-=-=-=-=-=-=-=-=-=-=-=
*       Purchase        *
=-=-=-=-=-=-=-=-=-=-=-=-=
*/
#page-purchase {
    display: none;
}
/* Main */
#main-purchase {

}
.purchase-box {
    position: relative;
    padding: 3em 5.5em 2.5em 5.5em;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 12px 25px 0 rgba(62, 63, 67, .05);
}
.purchase-left {
    margin: 0 0 1.5em 0;
}
.purchase-right {
    margin: 1.5em 0 0 0;
}
.check {
    width: 5em;
    height: 5em;
    position: relative;
}
.check .circ {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    background-color: var(--light-green);
    z-index: 3;
}
.check .circ i {
    margin: 0;
    color: var(--white);
    font-size: calc(var(--heading) - .25rem);
    line-height: 1em;
    z-index: 3;
}
.dash {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-color: var(--light-green);
    opacity: .2;
    z-index: 2;
}
.dash1 {
    transform: scale(1.5, 1.5);
}
.dash2 {
    transform: scale(1.85, 1.85);
}
.dash3 {
    transform: scale(2.2, 2.2);
}
.purchase-gray {
    color: var(--gray);
}
.purchase-title {
    margin: 2em 0;
}
.purchase-title h3 {
    margin: 0;
    color: #3e3f43;
    font-size: calc(var(--heading) - .5rem);
    font-weight: 900;
}
.purchase-title p {
    margin: 0;
}
/* Footer */
#footer {
    width: 100%;
}
.footer-inner {
    width: 75%;
    display: grid;
    grid-template-columns: auto 1fr;
}
.footer-left {
    width: 100%;
}
.footer-left h3 {
    font-size: calc(var(--paragraph) + .2rem);
    transition: color .15s ease-in-out;
    user-select: none;
    cursor: pointer;
}
.footer-left h3:hover {
    color: var(--primary);
}
.footer-left p {
    color: var(--gray-dark);
    font-size: var(--paragraph);
}
.footer-right {
    width: 100%;
}
/* Selection */
::selection {
    color: var(--white);
    background: var(--primary);
}
/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: var(--bc);
}
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bc);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}
/* -
-*-~*~-*-*-~*~-*-*-~*~-* |
　　　　　@keyframes　　　　|
-*-~*~-*-*-~*~-*-*-~*~-* |
- */

/* -
-*-~*~-*-*-~*~-*-*-~*~-* |
　　　　@media rules　　　　|
-*-~*~-*-*-~*~-*-*-~*~-* |
- */
@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading: 3rem;
    }
    /* header Left */
    .header-title {
        line-height: 1.05em;
        font-size: calc(var(--heading-large) - 1rem);
    }
    .header-left-background {
        left: -47%;
        width: 180%;
        position: absolute;
        z-index: 5;
    }
}
@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading: 2.8rem;
    }
    /* Header */
    .header-inner {
        grid-template-columns: 50% 50%;
        grid-gap: 0;
    }
    /* Header Navbar */
    #navbar {
        width: 52%;
    }
    /* Header Left */
    .header-title {
        line-height: 1em;
        font-size: calc(var(--heading-large) - 2rem);
    }
    .header-left-background {
        left: -82%;
        width: 220%;
        position: absolute;
        z-index: 5;
    }
    .header-desc-title {
        letter-spacing: .2em;
    }
    /* Header Center */
    .header-rings {
        left: 6%;
    }
    .ring1 {
        width: 12.5em;
        height: 12.5em;
    }
    .ring2 {
        width: 25em;
        height: 25em;
    }
    .ring3 {
        width: 37.5em;
        height: 37.5em;
    }
    .play-button-wrapper {
        left: 53%;
    }
}
@media only screen and (max-width: 1220px) {
    /* Header */
    .header-inner {
        grid-template-columns: 55% 45%;
        grid-gap: 0;
    }
    /* Header Navbar */
    #navbar {
        width: 58%;
    }
    /* Header Center */
    .header-rings {
        left: 11.5%;
    }
    .play-button-wrapper {
        left: 58%;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading: 2.4rem;
    }
    /* Header Navbar */
    #navbar {
        width: 56%;
    }
    /* Header Left */
    .header-left-background {
        left: -133%;
        width: 280%;
        position: absolute;
        z-index: 5;
    }
    .header-title-wrapper {
        width: 80%;
    }
    .header-description-wrapper {
        width: 80%;
    }
    .header-desc-title {
        letter-spacing: .1em;
    }
    .header-description {
        font-size: calc(var(--paragraph) - .2rem);
    }
    /* Header Center */
    .header-rings {
        left: 13%;
    }
    .ring1 {
        width: 10em;
        height: 10em;
    }
    .ring2 {
        width: 20em;
        height: 20em;
    }
    .ring3 {
        width: 30em;
        height: 30em;
    }
    .play-button-wrapper {
        left: 57.5%;
    }
}
@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading: 2.2rem;
    }
    /* Header */
    .header-inner {
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        grid-gap: 0;
    }
    /* Header Navbar */
    #navbar {
        width: 100%;
    }
    /* Header Center */
    .header-rings {
        display: none;
    }
    .play-button-wrapper {
        top: 65%;
        left: 44.4%;
    }
    /* Header Left */
    .header-left-background {
        left: -133%;
        width: 280%;
        display: none;
        position: absolute;
        z-index: 5;
    }
    .header-desc-left {
        margin: 0 0 2em 0;
    }
    .header-description-wrapper {
        grid-template-columns: 15% 1fr;
        grid-template-areas:
        "header-desc-left ."
        "header-desc-right header-desc-right"
        "header-desc-bottom header-desc-bottom";
        grid-column-gap: 2em;
        grid-row-gap: 0;
    }
}
@media only screen and (max-width: 576px) {

}
@media only screen and (max-width: 496px) {
    :root {
        /* Sizes */
        --heading: 1.75rem;
    }
}
